# Metrics: JNCSS

javancss.home= /home/student/github/javancss

project.home = ../StaticAnalysis-Target
project.src = ${project.home}/src/main/java
analysis.reports = reports


# JavaNCSS settings
javancss.output.format = plain
javancss.output.file = ${analysis.reports}/javancss-report.txt
#javancss.output.format = xml
#javancss.output.file = ${analysis.reports}/javancss-report.xml

